
 .title{
    color: rgba(100, 148, 237, 0.856);
}
.input-field{
    width: 40vw;
}
.field{
    padding: 6px;
    border: 1px solid lightblue;
}
.search-button{
    background-color: rgba(255, 250, 205, 0.582);
    color: rgba(100, 148, 237, 0.774);
    font-size: 16px;
    font-weight: 700;
}

#spinner{
    display: none;
}

#no-results{
    display: none;
}


#phones{
    border-radius: 10px;
    margin-bottom: 50px;
   }
.search-result{
    padding: auto;
   
}
.card{
    background-color: rgba(173, 216, 230, 0.199);
    padding: 20px;
    border: none;
    border-radius: 10px;
}

.details-button{
    background-color: rgba(13, 13, 212, 0.521);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding: 6px 25px;
}

.detail-div{
    background-color: rgba(173, 216, 230, 0.199);
    border: 2px solid lightblue;
    padding: 15px;
    /* width: 40vw; */
    margin-bottom: 30px;
}
.property{
    display: inline-block;

}
