
 .title{
    color: rgba(100, 148, 237, 0.856);
}
.input-field{
    width: 45vw;
}
.field{
    padding: 6px;
    border: 1px solid lightblue;
}
.search-button{
    background-color: rgba(240, 128, 128, 0.068);
    color: rgba(100, 148, 237, 0.774);
    font-size: 16px;
    font-weight: 700;
}

#spinner{
    display: none;
}

#no-results{
    display: none;
}


#phones{
    background-color: rgba(173, 216, 230, 0.199);
    border-radius: 10px;
    margin-bottom: 30px;
   }

.card{
    padding: 20px 10px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.details-button{
    background-color: rgba(13, 13, 212, 0.521);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding: 6px 25px;
}

.detail-div{
    background-color: rgba(240, 128, 128, 0.068);
    border: 1px solid lightblue;
    padding: 15px;
    margin-bottom: 80px;
}
.property{
    display: inline-block;
    color: tomato;

}
.feature-title{
    color: blue;
    text-align: center;
    font-size: 23px;
}
.release-date{
    /* color: yellowgreen; */
    font-weight: 700;
   
}
